html
{ margin:10px;
  paddding:20px;
}
header{
display: block;
height: 45px;
background-color: #5087ef;
position: absolute;
top:0;
left:0;
right:0;
} 
nav{ position: relative;
top:10;
}
.home{
 font-family: 'Bookman Old Style', Light Italic;
 color: white;
margin-left: 30px;
margin-right:20px;
float: left;}
.Gall{font-family: 'Bookman Old Style', Light Italic;
margin-right: 20px;
 color: white;
float: left;
}
.About{
font-family: 'Bookman Old Style', Light Italic;
 color: white;
margin-right: 20px
float: left;
}
body{
 font-family: 'Handlee', cursive;
 font-size: 13pt;
background-color: #efefef;
padding: 20px;
margin: 10px;}
 h1
{ font-size: 15pt;
color: #20bcd5;
text-align: center;
padding: 18px 0 18px 0;
}
h1 span
{ border: 5px dashed #8899ff;
padding : 10px;
margin: 10px;
}
p{
color: #db6c4e;}
.Vid{ margin: 10px;
  background-color: #ddddff;
  display: block;
  margin: 0 auto;
  height: 500;
}
img{
border-radius : 50%;
  width: 20%;
  margin: 0 40%;
}


.Vid h2{
font-family:'Handlee', cursive ;
color: #efffab;
text-align: center;
background-color:#2289da;}
video{ margin: 0 30%;
}
footer{
display: block;
margin 0;
background-color:#d9e9ff;}