html
{ margin:10px;
  paddding:20px;
}
header{
display: block;
height: 45px;
background-color: #12BBFF;
position: fixed;
top:0;
left:0;
right:0;
z-index: 100;
} 
nav{ position: relative;
top:10px;
}
nav a{
text-decoration: none;
text-align: center;
font-size: 125%;
display: inline-block;
background: rgba(24,36,61,0.5);
color: #eeffee;
width: 20%;
margin-right: 2%;
}
.home{
margin-left: 16%;}

body{

 font-family: 'Bookman Old Style', cursive;
 font-size: 13pt;
background-color: #efefef;
padding: 20px;
margin: 10px;}
 h1
{ font-size: 15pt;
  font-weight: bold;
text-transform: uppercase;
color: #20bcd5;
text-align: center;
padding: 18px 0 18px 0;
}
h1 span
{ border: 5px outset #8899ff;
padding : 10px;
margin: 10px;
}
p{display: block;
color: #db6c4e;}
.Vid{ margin: 10px;
background-image: linear-gradient(to bottom right,rgba(193,255,249,0.4), rgba(248,55,178,0.4));
  display: block;
  margin: 0 auto;
  height: 500;
}


.Vid h2{
font-family:'Bookman Old Style', cursive ;
color: #efffab;
text-align: center;
background-color:#2289da;}
video{ margin: 0 30%;
}
footer{
display: block;
margin 0;
background-color:#d9e9ff;}
article>p:first-letter{
font-size: 325%;
font-weight: bold;}
a{ transition: color 1s linear0.1s,background 1s ease-in 0.1s, transform 1s linear 0.1s;
}
a:hover{
background: #efffff;
color: #ff34aa;
transform: translate(3px, 3px);}
a:active{background: #efffff;
color: #ff34aa;
border: 2px solid #000000;
}
.container{
cursor:pointer;
display: block;
perspective: 600;
position: relative;
border-radius : 50%;
height:200px;
width:200px;
  margin: 0 auto;
}
img{
border-radius : 50%;
  width: 100%;
  height:100%;
  margin: 0 auto;
transition: transform 2s linear;
}
.card{
position: absolute;
height: 100%;
width: 100%;
transform-style: preserve-3d;
transition: transform 0.8s ease-in-out;}
.card:hover{
transform: rotateY(180deg);}
.card .side{
height: 100%;
width:100%;
position: absolute;
backface-viisbility: hidden;
border-radius: 50%;
margin: 0 auto:
}
.card .back {
backface-visibilty:hidden;
height:100%;
  background: #efefff;
  color: #3d9aff;
  line-height: 200px;
  text-align: center;
  transform: rotateY(180deg);
}
